/* Estilos para a página "Sobre" */

.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .about-page h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-page p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .about-page p:last-child {
    margin-bottom: 0;
  }
