#Header {
    display: flex;
    background-color: #f2f2f2;
}
header {
    
    padding: 20px;
    text-align: center;
    
    width: 50%;
}
img {
    max-width: 100%;
    height: 400px;
    margin: 10px;
}
.contact {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 0px 5px #ccc;
    flex-basis: calc(50% - 40px);
}
h2 {
    margin-top: 0;
} 
.rooms {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #f2f2f2;
    padding: 20px;
}
.room {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 0px 5px #ccc;

    flex-basis: calc(33.33% - 40px);
    
}
.room img {
    max-height: 100%;
    width: 520px;
    margin-bottom: 10px;
}
.room h3 {
    margin-top: 0;
}
.room p {
    margin: 0;
}

.room-info{
    padding-left: 20px;
    margin-left: 10%;
    margin-right: 20%;
}
.btnVer{
    align-self: center;
    justify-content: center;
    margin-top: 10%;
    width: 20%;
    height: 40%;
    padding: 3%;
    font-weight: bold;
    border-radius: 10%;
    background-color: whitesmoke;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.btnVer:hover{
    background-color: black;
    color: white;
}
footer {
    background-color: #292929;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  